.title
{
	text-align:center;
}
.formula
{
	font-style:italic;
	font-size:20px;
}
.default
{
	font-family:Lucida Sans Unicode;
}

.teorie
{
	margin: 5 5 5 5;
	padding:5 5 5 5;
	background-color:#b1d5ef;
	border-radius:10px;
}
.window
{
	border: 2px solid black;
}
.game
{
	width:600px;
	margin:auto;
	display:block;
}